
ClinicManagement/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ClinicManagement/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ClinicManagement/obj/Debug/ClinicManagement.csproj.AssemblyReference.cache
